div.main-artist-selection {
  border: 1px solid red;
  padding: 2px;
  margin: 2px;
}

#main-artist-container {
  display: inline-block;
  float: left;
}

#collab-artist-container {
  display: inline-block;
  
}

div.main-artist {
  border: 1px solid blue;
  height: 300px;
  width: 300px;
}

div.collab-artist {
  border: 1px solid green;
}

div.main-artist img {
  height: 200px;
  width: 200px;
}

li {
  border: 1px solid purple;
  list-style-type: none;
  margin: 2px;
}

